{% extends "base.html" %}
{% block content %}

<!-- Product Section -->
<section class="py-5" style="background-color: #f8f9fa;">
    <div class="container">
        <h1 class="fw-bold text-warning text-center mb-4">Our Carpets</h1>
       

        <div class="row g-4">
            <!-- Product 1 -->
            <div class="col-md-4">
                <div class="card border-0 shadow-sm product-card">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='image/product1.jpeg') }}" 
                             class="card-img-top rounded" alt="Autumn">
                        <div class="product-overlay p-2">
                            <h5 class="fw-bold text-warning">Autumn</h5>
                            <p class="text-white small">Hand knotted, Size: 5x8 ft</p>
                            <p class="text-white small fw-bold">₹ 80,000 &nbsp; | &nbsp; $ 906</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product 2 -->
            <div class="col-md-4">
                <div class="card border-0 shadow-sm product-card">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='image/product2.jpeg') }}" 
                             class="card-img-top rounded" alt="Tradition Star">
                             <div class="product-overlay p-3">
                                <h5 class="fw-bold text-warning">Tradition Star</h5>
                                <p class="text-white small">Hand knotted, Size: 5x7 ft</p>
                                <p class="text-white small fw-bold">₹ 55,000 &nbsp; | &nbsp; $ 624</p>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Product 3 -->
            <div class="col-md-4">
                <div class="card border-0 shadow-sm product-card">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='image/product3.jpeg') }}" 
                             class="card-img-top rounded" alt="Mirza">
                             <div class="product-overlay p-3">
                                <h5 class="fw-bold text-warning">Mirza</h5>
                                <p class="text-white small">100% Woven Dhurries, Size: 5x8 ft</p>
                                <p class="text-white small fw-bold">₹ 12,000 &nbsp; | &nbsp; $ 145</p>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Product 4 -->
            <div class="col-md-4">
                <div class="card border-0 shadow-sm product-card">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='image/product4.jpeg') }}" 
                             class="card-img-top rounded" alt="Spider">
                             <div class="product-overlay p-3">
                                <h5 class="fw-bold text-warning">Spider</h5>
                                <p class="text-white small">100% Wool, Size: 6*8 ft</p>
                                <p class="text-white small fw-bold">₹ 25,500 &nbsp; | &nbsp; $ 307</p>
                            </div>
                    </div>
                </div>
            </div>

                 <!-- Product 5 -->
            <div class="col-md-4">
                <div class="card border-0 shadow-sm product-card">
                    <div class="position-relative">
                        <img src="{{ url_for('static', filename='image/product5.jpeg') }}" 
                             class="card-img-top rounded" alt="Pattern">
                             <div class="product-overlay p-3">
                                <h5 class="fw-bold text-warning">Pattern</h5>
                                <p class="text-white small">100% Natural Jute Dhurries, Size: 5x8 ft</p>
                                <p class="text-white small fw-bold">₹ 22,000  &nbsp; | &nbsp; $ 265</p>
                            </div>
                    </div>
                </div>
            </div>


                 <!-- Product 6 -->
                 <div class="col-md-4">
                    <div class="card border-0 shadow-sm product-card">
                        <div class="position-relative">
                            <img src="{{ url_for('static', filename='image/product6.jpeg') }}" 
                                 class="card-img-top rounded" alt="Rooft">
                                 <div class="product-overlay p-3">
                                    <h5 class="fw-bold text-warning">Rooft</h5>
                                    <p class="text-white small">100% Natural jute Dhurries, Size: 5x8 ft</p>
                                    <p class="text-white small fw-bold">₹ 18,000 &nbsp; | &nbsp; $ 217</p>
                                </div>
                        </div>
                    </div>
                </div>
    

                 <!-- Product 7 -->
                 <div class="col-md-4">
                    <div class="card border-0 shadow-sm product-card">
                        <div class="position-relative">
                            <img src="{{ url_for('static', filename='image/product7.jpeg') }}" 
                                 class="card-img-top rounded" alt="Triangle">
                                 <div class="product-overlay p-3">
                                    <h5 class="fw-bold text-warning">Triangle</h5>
                                    <p class="text-white small">100% Wool, Size: 5x5 ft</p>
                                    <p class="text-white small fw-bold">₹ 12,500 &nbsp; | &nbsp; $ 150</p>
                                </div>
                        </div>
                    </div>
                </div>
                 <!-- Product 8 -->
                 <div class="col-md-4">
                    <div class="card border-0 shadow-sm product-card">
                        <div class="position-relative">
                            <img src="{{ url_for('static', filename='image/product8.jpeg') }}" 
                                 class="card-img-top rounded" alt="Flower">
                                 <div class="product-overlay p-3">
                                    <h5 class="fw-bold text-warning">Flower</h5>
                                    <p class="text-white small">100% viscose, Size: 4x6 ft</p>
                                    <p class="text-white small fw-bold">
                                        ₹ 12,500 &nbsp; | &nbsp; $ 150
                                      </p>
                                    </div>
                        </div>
                    </div>
                </div>
                 <!-- Product 9 -->
                 <div class="col-md-4">
                    <div class="card border-0 shadow-lg product-card">
                        <div class="position-relative">
                            <img src="{{ url_for('static', filename='image/product9.jpeg') }}" 
                                 class="card-img-top rounded" alt="Modern Abstract Rug">
                                 <div class="product-overlay p-3">
                                    <h5 class="fw-bold text-warning">Zebra</h5>
                                    <p class="text-white small">100% Wool, Size: 5x8 ft</p>
                                    <p class="text-white small fw-bold">₹ 12,000 &nbsp; | &nbsp; $ 145</p>
                                </div>
                                
                        </div>
                    </div>
                </div> 

</div>

    
            
        </div>
    </div>
</section>

<style>
    .product-card {
        overflow: hidden;
    }
    .product-card img {
        height: 100%; /* all images same height */
        width: 100%;
        object-fit: cover; /* crop and keep aspect ratio */
        transition: transform 0.4s ease;
    }
    .product-card:hover img {
        transform: scale(1.05);
    }
    .product-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    .product-card:hover .product-overlay {
        opacity: 1;
    }
    </style>


{% endblock %}